* {
    box-sizing: border-box;   
}
body {
    background-image: linear-gradient(to right,  green, red);
}
h2, h4 {
    color: rgb(203, 203, 20);
    text-shadow: 2px 2px 4px black;
}
.imgSong {
    width: 70%;
    margin: auto;
    border: 1px solid black;
    /* align-items: center; */
    margin: auto;
}
.img {
    border: 1px solid red;
    height: 120px;
    width: 60px;
    margin: auto;
    display: flex;
}
.display {
    height: 350px;
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: grey;
}
.container {
    width: 90%;
    height: 300px;
    background-color: #696465;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line1 {
    height: 25px;
    width: 40%;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    margin: auto;
    margin-top: 15px;
}
.line2Cont {
    /* border: 1px solid red; */
    height: 30px;
    margin-top: 15px;
    display: flex;
    /* justify-content: space-between;  */
    padding: 0px 40px;
}
.line2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}
.keys {
    display: flex;
    justify-content: space-between;
}
.keys > div {
    position: relative;
    width: 20%;
    height: 10px;
    margin-top: 10px;
    left: 40px;
    display: flex;
}
.keypads {
    position: relative;
    top: 23px;
    width: 80%;
    height: 170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(54, 1fr);
    grid-template-rows: repeat(1, 100%);
}
.keypads > div {
    border: 2px solid black;
    background-color: white;
}
.keypadBlack {
    /* border: 1px solid red; */
    height: 80px;
    width: 70%;
    position: absolute;
    top: 130px;
    left: 200px;
    display: grid;
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(1, 100%);
    gap: 10px;
}
.keypadBlack > div {
    background-color: black;
}
.indicator {
    height: 15px;
    width: 15px;
    background-color: red;
    position: relative;
    left: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
.power {
    display: flex;
}
.fa-solid {
    color: red;
    cursor: pointer;
}
.keypads > div:hover {
    background-color: grey;
}
.keypadBlack > div:hover {
    background-color: #3C3638;
}
.line2  h3 {
    margin-right: 5px;
}
.range {
    height: 50px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 65px 0px 45px;
}
.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .sliderValue {
    position: relative;
    width: 100%;   
}
.range .sliderValue span {
    text-align: center;
    position: absolute;
    height: 45px;
    width: 45px;
    color: #FFF;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}
.range .sliderValue span.show {
    transform: translate(-50%) scale(1);
}
.range .sliderValue span:after {
    position: absolute;
    height: 45px;
    content: "";
    width: 45px;
    background-color: red;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;   
    border: 3px solid #fff;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.range .field .value {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #664AFF;

}
.range .field .value.left {
    left: -22px;
}
.range .field .value.right {
    right: -43px;
}
.range .field input {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}
.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #664AFF;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #664AFF;
}
#lyrics {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 50%;
    margin: auto;
    height: 150px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
#lyrics > p {
    padding: 0px 10px;
    font-size: 18px;
    font-family: cursive;
}
.keypadBlack > .likeThis {
    animation: anim 5s infinite;
}
.keypadBlack > .demon {
    animation: anim2 5s infinite;
}
.keypadBlack > .baby {
    animation: anim3 5s infinite;
}
.keypadBlack > .rickrolled {
    animation: anim4 5s infinite;
}
.keypadBlack > .thunder {
    animation: anim5 5s infinite;
}
@keyframes anim {
    0%{
        background: none;
    }
    10%{
        background:black;
    }
    20%{
        background:none;
    }
    40%{
        background: none;
    }
    60%{
        background: black;
    }
    80%{
        background: none;
    }
    100%{
        background: black;
    }
}

@keyframes anim2 {
    10%{
        background: none;
    }
    20%{
        background:black;
    }
    30%{
        background:none;
    }
    50%{
        background: black;
    }
    60%{
        background: black;
    }
    80%{
        background: none;
    }
    90%{
        background: black;
    }
    100%{
        background: black;
    }
}


@keyframes anim3 {
    0%{
        background: none;
    }
    50%{
        background:black;
    }   
    100%{
        background: black;
    }
}


@keyframes anim4 {
    0%{
        background: none;
    }
    15%{
        background:black;
    }  
    30%{
        background:none
    }
    45%{
          background: black;
    }
    60%{
         background: none;
    }
    75%{
        background: black;
    }
    90%{
         background: none;
    }
}


@keyframes anim5 {
    0%{
        background: none;
    }
    25%{
        background:black;
    }
    30%{
        background:none
    }
    55%{
          background: black;
    }
    66%{
         background: none;
    }
    85%{
        background: black;
    }
    90%{
         background: none;
    }
}